
/*
px  - пиксел(pixel)   (используется для мониторов)
pt  - пункты(point)   (используется для полиграфии и мониторов)
in  - дюйм  (inch)    (равен 72pt) (используется для организации вывода на печать)
сm  - сантиметр       (используется для организации вывода на печать)
mm  - милиметр        (используется для организации вывода на печать)
pc  - пика(pica)      (типографическая единица измерения равная 12pt)
em  - em              (равен текущему размеру шрифта)(используется для описания относительных размеров)
%   - процент(procent)(если применяется к шрифту то текущий шрифт это 100%)
*/


/***************************Понятие целостности контейнера*****************************/
/*Если не задана height и width не задать то значение будет auto и в этом случае ширина и высота будут зависеть от содержимого
/*Если заданы height и width и содержимое не помещается в них тогда, оно вылезет за границу контейнера
  но эту проблему можно решить свойством overflow:hidden или overflow:auto
/*Пример*/
#object
{
    width:200px;
    height:200px;
    background:red;
    overflow: visible;   /*по умолчанию*//*если текст не помещается то он выходит за границы контейнера*/
              /*hidden*/ /*если текст не помещается то он будет скрыт*/
              /*auto*/   /*если текст не помещается то добавится полоса прокрутки*/
}

/*Если необходимо изменить полосу прокрутки необходимо:
1 обратится по адрессу Jscrollpane.kelvinluck.com видео 50:04
 */