p#id {color: #f00;}                    /*обьединение тега и id*/
p.news {color: #f00;}                  /*обьединение тега и класса*/
.last.news {color:#0f0;}               /*обьединение классов (у элемента должно быть два класса)*/
.news:first-letter{color:#0f0;}        /*обьединение класса и псевдоэлемента*/
.news:hover{color:#0f0;}               /*обьединение класса и псевдокласса*/
.begin[title]{color:#0f0;}             /*обьединение класса и атрибута*/
[title]:first-letter{color:#0f0;}      /*обьединение атрибутов и псевдоэлементов*/
:first-child:hover{color:#0f0;}        /*обьединение псевдоклассов и псевдоклассов*/
[class]	[title]{color:#0f0;}           /*обьединение атрибутов и атрибутов*/
p#id.begin[title]:hover	{color:#0f0;}  /*обьединение тега,id и класс*/
p#id.begin[title][class][id]:first-child:first-letter{color:#0f0;} /*обьединение тега, id, класса,атрибута,псевдоэлемента,псевдокласса	 (так делать не нужно)