//Пример 1
.sizes1 {
  width: 200px;
  height: 100px;
}
.color1 {
  background-color: red;
}
.border1 {
  border: 1px solid black;
}


//Пример 2
.sizes2 {
  width: 200px;
  height: 100px;
}
.color2 {
  background-color: green;
}


//Пример 3
.sizes3 {
    width: 200px;
    height: 100px;
    border:1px solid black;
}
