<!-- Пример 1  -->

<div>
    <h4>Пример 1 (использование объекта)</h4>
    <!--
        директива анализирует объект settings имена свойств которого совпадают с заданными CSS-свойствами
        и если свойству присвоено true - то соответствующий класс добавляется к элементу
        а если false - то удаляется
    -->
    <div [ngClass] = "settings"></div>
</div>


<!-- Пример 2 -->

<div>
    <h4>Пример 2 (использование массива)</h4>
    <!--
        директива анализирует массив. Каждый элемент расценивается как отдельный класс
        который должен быть привязан к текущему элементу.
    -->
    <div [ngClass] = "array"></div>
</div>


<!-- Пример 3 -->

<div>
    <h4>Пример 3 (использование строки)</h4>
    <!--
        директива анализирует строку. Каждый элемент строки расценивается как отдельный класс
        который должен быть привязан к текущему элементу.
    -->
    <div [ngClass] = "str"></div>
</div>