<!-- Пример 1 --------------->
<div>
    <h4>Пример 1 (привязка к событию)</h4>
    <button (click)="nameMethod1()">Click</button>
</div>


<!-- Пример 2  -------------->
<div>
    <h4>Пример 2 (привязка к событию с передачей дополнительной информации)</h4>
    <!--
     $event - содержит дополнительную информацию о текущем событии.
    -->
    <button (click)="nameMethod2($event)">Click</button><br>
</div>


<!-- Пример 3  -------------->
<div>
    <h4>ПРимер 3 (привязка к событию с использованием reference variable)</h4>
    <!--
     #textbox - это ссылка на текущий элемент.
    -->
    <input type="text" #textbox1 (keyup)="nameMethod3(textbox1.value)">
</div>



<!-- Пример 4 --------------->
<div>
    <h4>Пример 4 (привязка к событию с указанием клавиши которую необходимо обработать)</h4>
    <!-- 
      keyup. - служит для установки клавиши по нажатии на которую будет срабатывать событие.
    -->
    <input           (keyup.enter)="nameMethod4a()"><br>
    <input #textbox2 (keyup.m)="nameMethod4b(textbox2.value)"><br>
</div>