<!-- Пример 1 -->

<div>
    <h4>Пример 1 (директива ngFor)</h4>
    <!-- 
        директива для каждого элемента item массива items создает текущий html-элемент.
        items - перебираемый массив.
        item  - элемент массива.
    -->
    <ul>
        <li *ngFor="let item1 of items1">
            {{item1}}
        </li>
    </ul>
</div>


<!-- Пример 2 -->

<div>
    <h4>Пример 2 (директива ngFor c использованием even и index)</h4>
    <!-- 
        директива для каждого элемента item массива items создает текущий html-элемент.
        items - перебираемый массив.
        item  - элемент массива.
        index - индекс текущего элемента
        even  - хранит булевое значение текущей итерации (true - четное значение)
                                                         (false - нечетное значение)
    -->
    <ul>
        <li *ngFor="let item2 of items2; let i = index; let e = even" [style.color]="e ? 'red' : ''">
            {{i}} : {{item2}}
        </li>
    </ul>
</div>