p:first-child {color: #f00;}        /*обращение к элементу p который должен являться первым ребенком любого элемента*/
p:last-child {color: #f00;}         /*обращение к элементу p который должен являться последним ребенком любого элемента*/
p:nth-child(3)  {background: #fcc;} /*обращение к элементу p который является третьим ребенком*/
p:nth-last-child(3n){color:red;}    /*обращение к каждому третьему ребенку c конца элемента p*/
p:nth-of-type(3)                      /*обращение к элементу p, который является третьим ребенком*/
p:nth-last-of-type(3n)                /*обращение к каждому третьему ребенку c конца элемента p того же типа
где вместо номера ребенка в скобках можно использовать:
	3     - номер ребенка
	even  - обращение к четным детям
	odd  	- обращение к нечетным детям
	3n    - выражение где n-это внутренний счетчик, в данном случае каждый 3 элемент*/


p:only-of-type {color: #f00;}  /*обращение к элементу p который должен являться единственным ребенком указанного типа*/
p:first-of-type {color: #f00;} /*обращение к элементу p который должен являться первым ребенком и иметь тот же тип*/
p:last-of-type {color: #f00;}  /*обращение к элементу p который должен являться последним ребенком и иметь тот же тип*/

