a:target  {color:gold;}   /*служит для выделения ссылки в момент перехода на нее*/
a:link    {color:blue}    /*исходный цвет ссылки*/
a:visited {color:red}     /*посещенные ссылки*/
a:hover   {color:green}   /*при нахождении указателя мыши на элементе (на мобильниках не работает)*/
a:active  {color:black}   /*в момент щелчка по ссылке*/