@keyframes move1{      /*настройки анимации с именем move1*/
  
  from{                /*начальный кадр*/
    margin-left: 3px;
  }

  to{                  /*конечный кадр*/
    margin-left:500px; 
  }
}

@keyframes move2{      /*настройки анимации с именем move2*/
  
  0%{                  /*начальный момент времени*/
    top:0px;
    left:0px;
  }

  25%{                 /*следующий момент времени*/
    top:0px;
    left:300px;
  }

  50%{                 /*следующий момент времени*/
    top:300px;
    left:300px;
  }

  75%{                 /*следующий момент времени*/
    top:300px;
    left:0px;
  }

  100%{                 /*конечный момент времени*/
    top:0px;
    left:0px;
  }
}

#object{
  animation-name: move1;                  /*имя анимации*/
  animation-duration:4s;                  /*продолжительность анимации*/
  animation-timing-function:ease;         /*медленное начало, ускорение и медленное завершение*/
                          /*linear*/      /*переход с постоянной скоростью */
                          /*ease-in*/     /*медленное начало, а затем быстрый переход до самого завершения*/
                          /*ease-out*/    /*быстрое начало, сохранение высокой скорости почти до самого завершения*/
                          /*ease-in-out*/ /*медленное начало, быстрый переход, затем медленное завершение*/
  animation-delay: 1.5s;                  /*задержка перед запуском анимации*/                       
  animation-iteration-count:3;            /*количество повторов анимации*/
                         /*:infinite;*/   /*бесконечно*/    
  animation-direction: alternate;         /*по окончанию анимации анимация запустится в обратную сторону*/  
  animation-fill-mode: none;              /*какой кадр анимации должен использоваться как состояние элемента после анимации*/                          
                     /*move1;*/         
  animation: move1 4s linear 1.5s infinite alternate none; /*сокращенная запись*/
}