
<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Form Controls
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item>Autocomplete</mat-list-item>
        <mat-list-item>Checkbox</mat-list-item>
        <mat-list-item>Datepicker</mat-list-item>
        <mat-list-item>Form field</mat-list-item>
        <mat-list-item>Radio button</mat-list-item>
        <mat-list-item>Select</mat-list-item>
        <mat-list-item>Slider</mat-list-item>
        <mat-list-item>Slide toggle</mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
  
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Navigation
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item>Menu</mat-list-item>
        <mat-list-item>Sidenav</mat-list-item>
        <mat-list-item>Toolbar</mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
  
  
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Form Controls
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item>Button</mat-list-item>
        <mat-list-item>Button toggle</mat-list-item>
        <mat-list-item>Badge</mat-list-item>
        <mat-list-item>Chips</mat-list-item>
        <mat-list-item>Progress spinner</mat-list-item>
        <mat-list-item>Progress bar</mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
  
  <!-------------- Button & Indicators ---------------------------->
  
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Button & Indicators
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item>
        <a routerLink="button">Button</a></mat-list-item>
        <mat-list-item routerLink="/buttonToggle">Button toggle</mat-list-item>
        <mat-list-item routerLink="/badge">Badge</mat-list-item>
        <mat-list-item routerLink="/chips">Chips</mat-list-item>
        <mat-list-item routerLink="/icon">Icon</mat-list-item>
        <mat-list-item routerLink="/progressSpinner">Progress spinner</mat-list-item>
        <mat-list-item routerLink="/progressBar">Progress bar</mat-list-item>
        <mat-list-item routerLink="/ripples">Ripples</mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  
    <router-outlet></router-outlet>
  
  </mat-accordion>
