p{
	text-overflow:ellipsis;
	overflow  :visible; 
	overflow-x:visible;  
	overflow-y:visible;    
}

/*

	text-overflow: 
			ellipsis   - усечение в виде многоточия если текст не помещается.
			условия:   - у элемента должно быть свойство overflow:hidden.
                 - элемент должен иметь свойство white-space:nowrap.
								 - ширина элемента должна быть меньше чем усекаемый текст.					 
			clip       - текст обрезается по размеру области

	overflow:
			visible - если текст не помещается то он выходит за границы контейнера(стоит по умолчанию)
    	hidden  - если текст не помещается то он будет скрыт
    	auto    - если текст не помещается то добавится полоса прокрутки(то же что и scroll)
			scroll  - если текст не помещается то добавится полоса прокрутки (то же что и auto)
					 
*/