p{
	word-wrap:break-word;
	white-space:normal;
}

/*

	word-wrap: 
			break-word - перенос строки если она не помещается в элементе
		
  white-space - отвечает за пробельные символы
    	normal    - пробельные символы сокращаются и автоматические переводы строк
    	nowrap    - пробельные символы сокращаются и нет автоматического перевода строк
    	pre       - пробельные символы сохраняются и нет автоматического перевода строк
    	pre-wrap  - как и pre но добавляет автоматические переводы строк, если текст не помещается

*/

