P{
	column-count: 3;               /*разбиение на 3 колонки*/
	columns: 150px auto;           /*разбиение на колонки шириной по 150px, количество определяется автоматически*/
	column-gap: 150px;             /*отступ между колонками*/
	column-rule:2px dotted red;  /*разделитель между колонками*/
	column-width: 150px;           /*ширина колонки*/
}





