                   
/*transition - переход*/ 

#obgect{
  transition-property: border;      /*свойство к которому будет применен переход (любое свойство поддерживающее трансформацию) */
  transition-duration: 1.25s;       /*продолжительность перехода(от 0 и более секунд)*/
  transition-delay:0.1s;            /*задержка между исходным отображением элемента и началом его перехода*/
  transition-timing-function:ease;  /*медленное начало, ускорение и медленное завершение*/
                        /*linear*/  /*переход с постоянной скоростью */
                       /*ease-in*/  /*медленное начало, а затем быстрый переход до самого завершения*/
                      /*ease-out*/  /*быстрое начало, сохранение высокой скорости почти до самого завершения*/
                   /*ease-in-out*/  /*медленное начало, быстрый переход, затем медленное завершение*/
  transition-timing-function:cubic-bezier(0.25, 0.1, 0.25, 1); /*создание собственной скорости перехода*/
  transition: all .3s linear .2s;   /*сокращенный синтаксис*/
  transition: color 3s, border 4s;  /*изменение нескольких свойств элемента*/
}

/*transformation - изменение положения элемента*/

#object
{
    transform:translate(100px,50px); /*перемещение элемента 100px - ось x, 50px - ось y */
    transform:rotate(45deg);         /*поворот элемента (на 45 градусов) отностельно цента элемента(по умолчанию)*/
    transform-origin: 0px 0px;       /*точка относительно которой будет происходить поворот элемента (0px 0px - верхний-левый угол)*/
    transform:scale(1.5,2);          /*масштабирывание элемента (1.5-ширина, 2-длинна)*/
            /*scale(0.5);            /*уменьшение элемента в два раза*/
    transform:skew(30deg,20deg);     /*искревление элемента(30deg - наклон по оси x, 20deg - наклон по оси y)*/
    transform:matrix();              /*трансформирует элементы,применяя к ним матрицу значений*/
}


/*transformation3D - изменение положения элемента в 3D-пространстве*/

#object
{
  transform:translateX(30px);    /*перемещение в трехмерном пространстве (по оси Х)*/
  transform:translateY(40px);    /*по оси Y*/
  transform:translateZ(60px);    /*по оси Z(не работает без perspective)*/
  transform:perspective(100px);  /*расстояние до обьекта относительно пространства*//*обязательный параметр*/
  transform:rotateX(45deg);      /*поворот по оси X*/
          /*rotateY(45deg);*/    /*поворот по оси Y*/
          /*rotateZ(45deg);*/    /*поворот по оси Z*/
  transform-origin: 0px 0px;     /*точка относительно которой будет происходить поворот элемента*/
  transform: scale3d(0.2);       /*изменение масштаба одного или нескольких измерений*/
  transform-style: preserve-3d;  /*дочерние элементы будут отображаться в 3d пространстве*//*perspective не нужно указывать*/
                 /*flat*/        /*дочерние элементы лежат в той же плоскости что и родитель*//*perspective не нужно указывать*/
}

