
/*Gridman-CSS Grid inspector   - тестировщик*/

*{
    box-sizing: border-box;
}

div{
    background: red;
    border:2px solid green;
}

.grid {
    display: grid;

    /*--------------работа с колонками---------------------*/
    /*grid-template-columns: 300px 200px 300px;     /*количество колонок и их размер*/
    /*Резиновые элементы (использование fr)*/ 
    /*grid-template-columns: 1fr 1fr 1fr;            /*количество колонок и их размер*/
    /*grid-template-columns: 2fr 1fr 1fr;            /*первая колонка занимает в два раза больше от своего исходного состояния*/
    /*grid-template-columns: 2fr 1fr 250px;          /*у третьей колонки фиксированный размер*/
    /*Использование повторения repeat()*/
    /*grid-template-columns: repeat(3,1fr);          /*три раза по одной колонке одной фракции*/
    /*grid-template-columns: repeat(2,1fr 2fr);      /*два раза по две колонки разных фракций*/
    /*grid-template-columns: 100px repeat(2,1fr 2fr);/*колонка в 100px а потом два раза по две колонки разных фракций*/

    /*--------------работа с рядами---------------------------*/
    /*grid-template-rows: 150px 150px;   /*размер рядов*/
    /*grid-auto-rows: 150px;             /*размер рядов по умолчанию(для которых не заданы размеры)*/

    /*--------------сокращенная запись------------------------*/
    /*сокращенная запись grid-template-rows и grid-template-columns*/
    /*grid-template: 150px 150px/repeat(3,1fr);   /*сначала rows а потом columns*/

    /*--------------расстояния между колонками и рядами--------*/
    /*grid-column-gap: 20px;    /*расстояние между колонками*/
    /*grid-row-gap: 10px;       /*расстояние между рядами*/
    /*grid-gap: 30px;           /*расстояние и между рядами и между колонками*/

    /*--------------отзывчивый дизайн функция minmax()----------*/
    /*grid-template-columns:minmax(150px,250px) 1fr 1fr;   /*250px - это изначальный размер колонки ,а 150px - это размер до которого колонка может ужаться в случае необходимости*/
    /*grid-auto-rows: minmax(100px,auto);  /*auto-ряд растягивает по своему содержимому, 100px-минимально возможный размер ряда*/

    /*------изменение порядка следования элементов---------------*/
    /*grid-auto-flow: column;   /*элементы перетикают по колонкам*/
    /*grid-auto-flow: row;      /*элементы перетикают по строкам (по умолчанию)*/

    /*-перенос колонок если не помещаются(auto-fill и auto-fit)--*/
    /*grid-template-columns: repeat(auto-fill, 200px);              /*auto-fill-колонки складываются, когда размер их меньше 200px*/
    /*grid-template-columns: repeat(auto-fit, minmax(150px,1fr));   /*складывать колонки когда размер их меньше 150px*/
                                                                    /*auto-fit - в момент складывании колонок нет зазора справа*/

    /*---------------выравнивание элементов по горизонтали--------------------*/
    /*justify-content: start;          /*элементы распологаются в начале  (не растягиваются)*/
    /*justify-content: end;            /*элементы распологаются в конце   (не растягиваются)*/
    /*justify-content: center;         /*элементы распологаются по центру (не растягиваются)*/
    /*justify-content: stretch;        /*элементы растягиваются(по умолчанию)*/
    /*justify-content: space-around;   /*одинаковое пространство между элементами, и полуразмерные отступы по краям*/
    /*justify-content: space-between;  /*одинаковое пространство между элементами, без отступов по краям*/
    /*justify-content: space-evenly;   /*одинаковое пространство между элементами, и полноразмерные отступы по краям*/

    /*--------------выравнивание элементов по вертикали------------------------*/
    /*align-content: start;          /*элементы распологаются в начале  (не растягиваются)*/
    /*align-content: end;            /*элементы распологаются в конце   (не растягиваются)*/
    /*align-content: center;         /*элементы распологаются по центру (не растягиваются)*/
    /*align-content: stretch;        /*элементы растягиваются(по умолчанию)*/
    /*align-content: space-around;   /*одинаковое пространство между элементами, и полуразмерные отступы по краям*/
    /*align-content: space-between;  /*одинаковое пространство между элементами, без отступов по краям*/
    /*align-content: space-evenly;   /*одинаковое пространство между элементами, и полноразмерные отступы по краям*/

    /*--------------выравнивание содержимого элементов по горизонтали----------*/
    /*justify-items: start;          /*содержимое распологаются в начале элемента (не растягивается)*/
    /*justify-items: end;            /*содержимое распологаются в конце элемента (не растягивается)*/
    /*justify-items: center;         /*содержимое распологаются по центру элемента (не растягивается)*/
    /*justify-items: stretch;        /*содержимое растягивается по ширине элемента (по умолчанию)*/


    /*---------------выравнивание содержимого элементов по вертикали--------------*/
    /*align-items: start;     /*содержимое распологается вверху элемента (не растягивается)*/
    /*align-items: end;       /*содержимое распологается внизу элемента (не растягивается)*/
    /*align-items: center;    /*содержимое распологается по центру элемента (не растягивается)*/
    /*align-items: stretch;   /*содержимое растягивается по высоте элемента (по умолчанию)*/

}

/*********************************************************************************************/

.g1{

    /*----------------пространство занимаемое элементом по горизонтали--------*/
    /*grid-column-start:1;   /*начальная точка элемента*/
    /*grid-column-end:3;     /*конечная точка элемента*/
    /*grid-column:1/4;       /*сокращенная запись верхних свойств*/
    /*grid-column:1/-1;      /*элемент растягивается на всю ширину*/

    /*---------------пространство занимаемое элементом по вертикали-----------*/
    /*grid-row-start:1;   /*начальная точка элемента*/
    /*grid-row-end:3;     /*конечная точка элемента*/
    /*grid-row:1/4;       /*сокращенная запись верхних свойств*/


    /*----------------перенос элемента на другую строку-----------------------*/
    /*grid-row:2;   /*теперь элемент будет распологаться на второй строке*/


    /*--------выравнивание содержимого конкретного элемента по гирозонтали----*/
    /*justify-self:start;          /*содержимое распологаются в начале элемента (не растягивается)*/
    /*justify-self:end;            /*содержимое распологаются в конце элемента (не растягивается)*/
    /*justify-self:center;         /*содержимое распологаются по центру элемента (не растягивается)*/
    /*justify-self:stretch;        /*содержимое растягивается по ширине элемента (по умолчанию)*/
    /*размеры блока по вертикали определяются его контентом*/

    /*---------выравнивание содержимого конкретного элемента по вертикали-----*/
    /*align-self:start;         /*содержимое распологается вверху элемента (не растягивается)*/
    /*align-self:end;           /*содержимое распологается внизу элемента (не растягивается)*/
    /*align-self:center;        /*содержимое распологается по центру элемента (не растягивается)*/
    /*align-self:stretch;       /*содержимое растягивается по высоте элемента (по умолчанию)*/
    /*размеры блока по горизонтали определяются его контентом*/
}


/*-------------------------------------grid-area-------------------------------------*/
/*использовать в медиа запросах для адаптивного дизайна*/
/*использовать для структурных блоков (header,footer и т.д.)*/
/*. - означает пустоту*/
/*
.grid {
    display: grid;
    grid-template-areas:
    "section1 section2 section2"
    "section3 section4 section4"
    "section3 section5 section5"
    "section6 .    .           ";
}

.g1{
    grid-area:section1;

}

.g2{
    grid-area:section2;

}
.g3{
    grid-area:section3;

}

.g4{
    grid-area:section4;

 }

.g5{
    grid-area:section5;

}

.g6{
    grid-area:section6;

}

*/





