/*https://dmitrylavrik.ru/flexbox-generator - тренажер*/ 
.parent{
    display:flex;
    
    /*Выравнивание элементов по горизонтали*/
    justify-content:flex-start;           /*элементы распологаются в начале*/
    justify-content:flex-end;             /*элементы распологаются в конце*/
    justify-content:center;               /*элементы распологаются по центру*/
    justify-content:space-between;        /*левый элемент примыкает к левому краю,а правый к правому, а остальные элементы равномерно распределяются по оставшемуся пространству*/
    justify-content:space-around;         /*половины отступа между элементми по бокам*/

    /*Направление оси*/
    flex-direction:row;                   /*расположение оси слева на право*/
    flex-direction:row-reverse;           /*расположение оси справа на лево*/
    flex-direction:column;                /*расположение оси сверху вниз*/
    flex-direction:column-reverse;        /*расположение оси снизу вверх*/

    /*Правила переноса элементов*/
    flex-wrap:nowrap;                     /*не переносить элементы, если они не помещаются*/
    flex-wrap:wrap;                       /*перенос элементов, если они не помещаются*/
    flex-wrap:wrap-reverse;               /*то же что и wrap, но блоки распологаются в обратном порядке*/

    /*Сокращенная запись*/
    flex-flow:flex-direction flex-wrap;

    /*Выравнивание элементов по вертикали (пустое место между переносимыми элементами распределяется равномерно)*/
    align-items: stretch;                   /*растянуть элементы по вертикали, если высота не задана (по умолчанию)(почти не используется)*/
    align-items: flex-start;                /*элементы выравниваются относительно друг друга и распологаются вверху перпендикулярной оси(по умолчанию)*/
    align-items: flex-end;                  /*элементы выравниваются относительно друг друга и распологаются внизу перпендикулярной оси*/
    align-items: center;                    /*элементы выравниваются относительно друг друга и распологаются посередине перпендикулярной оси*/
    align-items: baseline;                  /*(почти не используется)*/


    /*Выравнивание элементо по вертикали (пустое место между переносимыми элементами отсутствует)*/ 
    /*Обязательное условие: элементы должны переноситься (wrap)*/
    align-content: flex-start;              /*элементы выравниваются относительно друг друга и распологаются вверху перпендикулярной оси*/
    align-content: flex-end;                /*элементы выравниваются относительно друг друга и распологаются внизу перпендикулярной оси*/
    align-content: center;                  /*элементы выравниваются относительно друг друга и распологаются посередине перпендикулярной оси*/
    align-content: space-around;            /*пустой контент распределяется между рядами и между рядами и верхей и нижней границами контейнера*/
    align-content: space-between;           /*верхние элементы прижимаются к верхнему краю перпендикулярной оси а нижние(переносимые) к нижниму краю перпендикулярной оси*/
    align-content: stretch;                 /*растянуть элементы по вертикали, если высота не задана (по умолчанию)(почти не используется)*/
}
.child{  

    /*характеристики отдельно взятого блока*/
    flex-basis: 10px;                        /*базовый размер отдельного блока (по ширине)(px,em,%)*/
    flex-grow:2;                             /*жадность отдельно взятого блока(данный блок будет в два раза больше чем соседние)*/
    flex-shrink:1;                           /*сжимаемость отдельно взятого блока (минимально возможное)*/
    flex: flex-grow flex-shrink flex-basis;  /*короткая запись выше указанных свойств*/

    /*выравнивание каждого отдельно взятого блока по вертикали*/
    align-self:flex-start;                    /*блок прижат к началу вертикальной оси*/
    align-self:flex-end;                      /*блок прижат к концу вертикальной оси*/
    align-self:center;                        /*блок распологаются по центру вертикальной оси*/
    align-self:baseline;                      /*блок выровнен по baseline*/
    align-self:stretch;                       /*блок растянут(если не задана высота)*/

    /*расположение элемента точно по центру родительского элемента*/
    /*условие:у родителя элемента должен быть задан display:flex)*/
    margin:auto;    /*распологает элемент по центру родительского*/

    /*order - задает порядок следования элементов(начиная с 0-й позиции)*/
    order:2;
}




