#object {
	width: 100px;      /*ширина элемента*/
	min-width: 100px;  /*минимально допустимая ширина элемента*/
	max-width: 100px;  /*максимально допустимая ширина элемента*/

	height: 100px;      /*высота элемента*/
	min-height: 100px;  /*минимально допустимая высота элемента*/
  max-height: 100px;  /*максимально допустимая высота элемента*/
}