/*
	margin - это расстояние от границы элемента до границы соседнего элемента.
*/

#object{
	margin: 10px;                  /*со всех сторон*/
	margin: 10px 5px;              /*от верхней и нижней границы , от левой и правой границы*/
	margin: 10px 5px 12px;         /*от верхней границы, от левой и правой границы, от нижней границы*/
	margin: 10px 5px 12px 11px;    /*c четырех сторон отдельно*/
	margin-left: 10px;             /*от левой границы*/
	margin-right: 10px;            /*от правой границы*/
	margin-top: 10px;              /*от верхней границы*/
	margin-bottom: 10px;           /*от нижней границы */
	margin:auto;                   /*со всех сторон одинаковые отступы*/
	

	/*Размещения элемента по центру*/
	margin-left:auto;
	margin-right:auto;
}