/*
	padding - отступы содержимого элемента от внутренних границ элемента 
*/

#object {
	padding: 1px;             /*от всех границ*/
	padding: 1px 2px;         /*от верхней и нижней границы , от левой и правой границы*/
	padding: 1px 2px 3px;     /*от верхней границы, от левой и правой границы, от нижней границы*/
	padding: 1px 2px 3px 4px; /*от всех границ отдельно*/
	padding-top: 10px;        /*от верхней границы*/
	padding-left: 10px;       /*от левой границы*/
	padding-right: 10px;      /*от правой границы*/
	padding-bottom: 10px;     /*от нижней границы*/
}
