/*border - граница элемента*/

#object {
	border-width: 10px;               /*толщина границы со всех сторон*/
	border-width: 10px 20px;          /*толщина верхней и нижней границы, левой и правой границы*/
	border-width: 10px 5px 12px;      /*толщина верхней границы, левой и правой границы, нижней границы*/
	border-width: 10px 5px 12px 11px; /*толщина с четырех сторон отдельно(по часовой стрелке)*/
	border-top: 10px;                 /*толщина верхней границы*/
	border-left: 10px;                /*толщина левой границы*/
	border-right: 10px;               /*толщина правой границы*/
	border-bottom: 10px;              /*толщина нижней границы*/
	border-top-width: 10px;           /*толщина верхней границы*/
	border-left-width:10px;           /*толщина левой границы*/
	border-right-width:10px;          /*толщина правой границы*/
	border-bottom-width:10px;         /*толщина нижней границы*/
	border-style: solid;              /*стиль границы:
																	      solid - прямая,
																		  dotted - граница из точек,
									                    dashed - линии,
									                    double - двойная рамка,
								                      none - без границы,
									                    groove, - псевдо 3d    (редко используется)
				                              ridge,  - псевдо 3d    (редко используется)
				                              inset,  - псевдо 3d    (редко используется)
				                              outset  - псевдо 3d    (редко используется)*/
	border-color: aquamarine;        /*цвет границы*/

	/*Cокращенная форма записи*/
	border: 1px solid black;

	/*Радиус углов границы*/
	border-radius: 10px;                   /*одинаковый радиус для всех углов */
	border-radius: 10px 10px 20px 20px;    /*верхние углы - 10px  нижние углы - 20px*/
	border-top-left-radius: 10px;          /*радиус верхнего левого угла*/
	border-top-right-radius: 10px;         /*радиус верхнего правого угла*/
	border-bottom-left-radius: 10px;       /*радиус нижнего левого угла*/
	border-bottom-right-radius: 10px;      /*радиус нижнего правого угла*/
	border-bottom-right-radius: 10px 20px; /*указываем два значения(по вертикали и по горизонтали для более тонкой настройки  радиуса)*/

	/*Тень от элемента*/
	box-shadow:15px 15px 10px #888;
	/*
	15px 15px - горизонтальное и вертикальное смещение
	10px      - степень размытости
	#888      - цвет тени
	*/

	/*Изображение в качестве границы*/
	border-image: url(border.png) 30 repeat; /*вырезать из изображения border.png угловые картинки 30х30 установить их по углам элементов а промежуточные картинки пробублировать*/
	border-image: url(border.png) 30 stretch;/*вырезать из изображения border.png угловые картинки 30х30 установить их по углам элементов а промежуточные картинки растянуть*/
}
