/*
  box-sizing - указывает к чему относятся размеры:
  
  content-box; - применять указанные ширину и высоту для содержимого, padding и border(по умолчанию)
  border-box;  - применить указанные ширину и высоту только для содержимого
  padding-box; - применить указанные ширину и высоту только для содержимого и padding 
*/

#object {
    box-sizing:content-box;
    height:100px;
    width:100px;
}

