#object {   
	top:20px;
	left:20px;
	position:absolute/*relative*//*fixed*//*static*/
}

/*
absolute - элемент удаляется из потока (видит ширину и высоту родителя с заданной position)
           (абсолютное позиционирование)

relative - элемент смещается относительно своего прежнего местоположения
           (относительное позиционирование)

fixed    - при прокрутке окна выбранное местоположение не меняется  
           (фиксированное позиционирование)

static   - находится в нормальном потоке (установлен по умолчанию)
           (статическое позиционирование)
*/
