#object
{
    display:none;         /*элемент исчезает*/
    display:block;        /*блочный элемент  (занимает всю ширину родителя, высота определяется внутренним контентом)*/
    display:inline;       /*строчный элемент (занимает ширину и высоту контента)*/
    display:inline-block; /*строчно-блочный элемент*/
    display:table;        /*элемент ведет себя как таблица*/
    display:table-cell;   /*элемент ведет себя как ячейка таблици*/
    display:table-row;    /*элемент ведет себя как строка таблици*/
}


