/*1 :before - добавляет содержимое перед элементом*/
 
p:before {
	content:'Начало абзаца- ';  /*создаем область перед элементом p при помощи свойства content*/
	background: #f00;         
}

/*2 :after - добавляет содержимое за элементом*/

p:after {
 content:' -Конец абзаца '; /*создаем область за элементом p при помощи свойства content*/
 background: #f00; 
}