#object{
    float: left;    /*элемент становится плавающим и прибивается к левому краю*/
         /*right;*/ /*элемент становится плавающим и прибивается к правому краю*/
         /*none;*/  /*стоит по умолчанию*/
         
    clear: left;    /*запрещается подлазить под элемент находящийся слева*/
         /*right;*/ /*запрещается подлазить под элемент находящийся справа*/
         /*both*/   /*запрещается подлазить и под элемент справа и под элемент слева*/
         /*none*/   /*разрешает подлазить под элементы(по умолчанию)*/
         overflow:hidden; /*предотвращение выпадения плавающего блока*/
}


